@model IEnumerable<DoAnCoThanh.Models.TinTuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTinTuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTinTuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifierTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifierUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTinTuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTinTuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifierTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifierUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
