@model DoAnCoThanh.Models.GioHang

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class=" table">
    <thead>
        <tr>
            <td>mã Sp</td>
            <td>tên sp</td>
            <td>ảnh</td>
            <td>số lượng</td>
            <td>đơn giá</td>
            <td>tổng tiền</td>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.listGio != null)
        {
            foreach (var item in ViewBag.listGio)
            {
        <tr>
            <td>@item.hangHoa.MaSp</td>
            <td>@item.hangHoa.TenSp</td>
            <td style="width: 100px"> <img src="~/Resources/@item.hangHoa.HinhAnh" width="100" /> </td>
            <td>
                <form action="GioHangs/updateSoLuong" method="post">
                    <input type="hidden" name="idProduct" value="@item.hangHoa.MaSp" />
                    <input type="number" name="SoLuong" class="SOLUONG" style="width:50px;" value="@item.SoLuong" />
                    <button type="submit" style="background-color:orange;border:5px;">Update</button>
                </form>
            </td>
            <td>@item.hangHoa.Gia,000VND </td>
            <td> @item.tongTien(),000 VND</td>
        </tr>
            }
        }

        
    </tbody>
</table>

