@model DoAnCoThanh.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiaoDich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiaoDich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhuongThucTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuongThucTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVienTuVan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVienTuVan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
