@model  DoAnCoThanh.Models.HangHoa

@{
    ViewBag.Title = "ChiTietHangHoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <a href="/Home/Index" style=" font-size:20px">Trang chủ</a>
    <a href="/TinTucs/Index" style=" font-size:20px"> > @ViewBag.ChiTiet.TenSp</a>
</head>
<body style="margin-top: 50px;">
    <div class=" row ChiTiet" style="margin-top:35px;">
        <div class=" col-md-6 AnhSP">
            <img src="~/Resources/@ViewBag.ChiTiet.HinhAnh" alt="Alternate Text" />
        </div>
        <div class="col-md-6 MoTa">
            <div class="product-content-wrapper" style="top: 20px; left: 1149.48px; width: 380px;">
                <div class="pro-content-head clearfix">
                    <div class="grid mg-left-5">
                        <div class="grid__item large--two-thirds medium--one-half small--two-thirds pd-left5">
                            <h1 itemprop="name">@ViewBag.ChiTiet.TenSp</h1>
                        </div>
                        <div class="grid__item large--one-third medium--one-half small--one-third pd-left5">
                            <div class="pro-stock">

                                <span class="in-stock" style="margin-left: 305px; border: groove; border-color: aqua; color: crimson">Còn hàng</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="pro-brand">
                    <span class="title">Thương hiệu:</span> <a href="">@ViewBag.ChiTiet.NhaCungCap</a>
                </div>

                <div class="pro-type">
                    <span class="title">Loại: <a href="">@ViewBag.ChiTiet.LoaiGiay</a></span>
                </div>


                <div class="pro-sku ProductSku">
                    <span class="title">Mã SP:</span> <span class="sku-number">@ViewBag.ChiTiet.MaSp</span>
                </div>



                <div class="pro-price clearfix">
                    <span class="current-price ProductPrice">@ViewBag.ChiTiet.Gia,000₫</span>

                    <span class="original-price ComparePrice">
                        <s>@ViewBag.ChiTiet.GiaCu,000₫  </s>
                        ( @ViewBag.ChiTiet.KM %)
                    </span>

                </div>
                <p>GỌI ĐỂ MUA HÀNG NHANH HƠN </p>
                <p> sdt (8h-22h)</p>
                <p> TẶNG 1 ĐÔI VỚ CHO ĐƠN >150K </p>
                <p> <i class="bi-ticket perferated"></i> NHẬP MÃ: TANGVOFashionShoes (HDSD: CHỌN THÊM VỚ TRONG ĐƠN HÀNG RỒI NHẬP MÃ TẠI BƯỚC THANH TOÁN)</p>
                <p><i class="bi-truck"></i> Ship hàng toàn quốc (từ 3-5 ngày)</p>

                <p><i class="bi-alarm"></i> Đổi trả trong 30 ngày (Hỗ trợ đổi trả ngay tại nhà)</p>

                <p><i class="bi-alarm"></i> Bảo hành 365 ngày</p>
            </div>
            @*@foreach (var item in ViewBag.ListHangHoa)
            {
                <a href="~/GioHangs/AddItem?MaSp=@item.MaSp" style="color: coral; border: double; border-color: coral; width: 300px">Thêm Vào Giỏ Hàng</a>
            }*@
        </div>

    </div>
    <div>
        <h1 style="color: coral; border: double; border-color: coral; width: 300px">Mô Tả Sản Phẩm</h1>
        <p> Giày : @ViewBag.ChiTiet.TenSp</p>
        <p> kiểu dáng : @ViewBag.ChiTiet.KieuDang</p>
        <p>kiểu lót : @ViewBag.ChiTiet.KieuLot</p>
        <p>Kiểu đế : @ViewBag.ChiTiet.KieuDe</p>
        <p>Độ cao : @ViewBag.ChiTiet.DoCao</p>
        <p> Cổ giày : @ViewBag.ChiTiet.CoGiay</p>
        <p> Chất Liệu : @ViewBag.ChiTiet.ChatLieu</p>
        <p> Kích Cỡ : @ViewBag.ChiTiet.Size</p>
    </div>
</body>

<footer>
</footer>

